:root {
  --section-spacing-block: 10rem;
  --container-slim-max-width: 50rem;
  --container-max-width: 100rem;
  background: #080e17;
  color: #15631e;
  line-height: 1.6;
  font-family: system-ui;
}

html, body {
  min-height: 100%;
  min-height: 100vh;
  background-color: #080e17;
  color: #15631e;
}


body {
  margin: 0;
  min-height: 100vh;
  background-color: #080e17;
  color: #15631e;
}

p {
  margin: 2em 0;
}

.cover-flow {
  perspective: 100rem;
  padding: 4rem 0;
}
.cover-flow__track {
  transform-style: preserve-3d;
  display: grid;
}
.cover-flow__space {
  transform-style: preserve-3d;
  view-timeline-name: --name-space;
  view-timeline-axis: block;
}
.cover-flow__cover {
  margin: 0 auto;
  display: block;
  width: 31.25rem;
  max-width: 80vw;
  -o-object-fit: cover;
     object-fit: cover;
  animation: linear cover both;
  animation-timeline: view(block);
  transform-style: preserve-3d;
  will-change: transform;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  border-radius: 0.5rem;
  animation-timeline: --name-space;
  /*
  animation: cover auto linear both;
  animation-range: contain 0% contain 100%;
  animation-timeline: --sticky-timeline;
*/
}


.sticky-section_ {
  height: 300vh;
  position: relative;
  view-timeline-name: --sticky-timeline;
  view-timeline-axis: block;
}
.sticky-section___stack {
  position: sticky;
  top: 0;
}

.section {
  margin-block: 10rem;
  color: inherit;
  background: transparent;
}

.wrapping {
  padding-inline: var(--wrapper-spacing);
}

.container {
  margin-inline: auto;
  max-width: var(--container-max-width);
}
.container--slim {
  --container-max-width: var(--container-slim-max-width);
}

@keyframes cover {
  0% {
    transform: translateY(-100%) rotateX(45deg);
  }
  35% {
    transform: translateY(0) rotateX(45deg);
  }
  50% {
    box-shadow: 0 0 1rem 0.5rem rgba(0, 0, 0, 0.5019607843);
    transform: rotateX(0deg) translateZ(14em) scale(1.2);
  }
  65% {
    transform: translateY(0) rotateX(-45deg);
  }
  100% {
    transform: translateY(100%) rotateX(-45deg);
  }
}/*# sourceMappingURL=style.css.map */
.GDPRImg{
  width:2%
}

.GAGAGA{
   display: grid;
  place-items: center;
  height: 600px;
  border: 1px solid black;
  width: 50%;
  
}


[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

html {
  min-height: 100%;
  min-width: 100%;
}
html body {
  min-height: 100%;
  min-width: 100%;
  font-family: 'Lato', sans-serif;
}
html body input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  display: none;
}
html body input[type="checkbox"]:checked ~ .menu nav a {
  -webkit-transform: translate3d(0px, 0, 0) rotateY(0deg);
  transform: translate3d(0px, 0, 0) rotateY(0deg);
  -webkite-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: #252525;
  color: #fff;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(2) {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(3) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(4) {
  -webkit-transition-delay: .3s;
  transition-delay: 0.3s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(5) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(6) {
  -webkit-transition-delay: .5s;
  transition-delay: 0.5s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(7) {
  -webkit-transition-delay: .6s;
  transition-delay: 0.6s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(8) {
  -webkit-transition-delay: .7s;
  transition-delay: 0.7s;
}
html body section.menu {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  min-height: 100%;
}
html body section.menu nav {
  padding-top: 4rem;
  -webkit-perspective: 20rem;
  perspective: 20rem;
}
html body section.menu nav a {
  display: block;
  width: 12rem;
  padding: 1.25rem 0rem 1.25rem 1.75rem;
  background: #222;
  border-bottom: 1px solid #2a2a2a;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15), inset 2px 0 0 #fff;
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 1.25rem;
  text-decoration: none;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
html body section.menu nav a:nth-child(1) {
  -webkit-transition-delay: .235s;
  transition-delay: .235s;
}
html body section.menu nav a:nth-child(2) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
html body section.menu nav a:nth-child(3) {
  -webkit-transition-delay: .165s;
  transition-delay: .165s;
}
html body section.menu nav a:nth-child(4) {
  -webkit-transition-delay: .13s;
  transition-delay: .13s;
}
html body section.menu nav a:nth-child(5) {
  -webkit-transition-delay: .095s;
  transition-delay: .095s;
}
html body section.menu nav a:nth-child(6) {
  -webkit-transition-delay: .06s;
  transition-delay: .06s;
}
html body section.menu nav a:nth-child(7) {
  -webkit-transition-delay: .25s;
  transition-delay: .025s;
}
html body section.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  display: table;
  background: #e23d3d;
}
html body section.content label {
  position: fixed;
  z-index: 1000;
  padding: 1rem 1.5rem;
  background: #222;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
  cursor: pointer;
}
html body section.content h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #fff;
}
